body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#FFB800;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background: black;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#FFB800 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#FFB800;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('showcase.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:45px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* FBPage */
#FBPage{
  padding:15px;
  color:#ffffff;
  background: black;
}

#FBPage h1{
  float:left;
}

#FBPage .follow{
  float:right;
  margin-top:3px;
  
}

#FBPage .follow a{
  text-decoration: none;
  text-decoration-color: none;
  text-decoration-style: none;  
  color: white;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:20%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: black solid 1px;
  margin-bottom:5px;
  background: gold;}

footer{
  padding:1px;
  margin-top:20px;
  color:#ffffff;
  background-color:#FFB800;
  text-align: center;
}

/* Media Queries */
@media(max-width: 718px){
  header #branding,
  header nav,
  header nav li,
  #FBPage h1,
  #FBPage form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }
  
  
  
  
  
  
  
/* Media Queries */
@media(max-width: 718px){
body {
    font-size: 45px;
  
  }
  
  

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }
  
  

  #FBPage button, .quote button{
    display:block;
    width:100%;
  }

  #FBPage form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

.contact a { text-decoration: none;
  text-decoration-color: none;
  text-decoration-style: none;  
  color: white;
}
